@font-face {
    font-family: 'muliregular';
    src: url('../fonts/Muli-Regular-webfont.eot');
    src: url('../fonts/Muli-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Muli-Regular-webfont.woff2') format('woff2'),
         url('../fonts/Muli-Regular-webfont.woff') format('woff'),
         url('../fonts/Muli-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Muli-Regular-webfont.svg#muliregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
